@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Rye&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");



h1, h2, h3, h4, h5, h6 {
  @apply text-slate-900 dark:text-white
}

footer {
  @apply text-gray-600 dark:text-white
  bg-gray-100 dark:bg-slate-600/20
}

a {
  @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50
}

p {
  @apply text-slate-500 dark:text-slate-400
}

.project-btn{
  @apply bg-gray-200 appearance-none border-2 border-gray-200 
rounded w-full py-2 px-4 text-gray-700 leading-tight 
focus:outline-none focus:bg-white focus:border-purple-500
}